.container {
    position: relative;
    width: 700px;
    height: 433px;
  }
  
  .card {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.75s ease;
    transform-style: preserve-3d;
  }
  
  .card:hover {
    transform: rotateX(180deg);
  }
  
  .front, .back {
    /* This part controls the flip */
    backface-visibility: hidden;
    
    /* Size and card position */
    position: absolute;
    width: 100%;
    height: 100%;
  
    /* Appearance */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
  }
  
  .front {
    background-color: #333;
    color: #fff;
  }
  
  .back {
    transform: rotateX(180deg);
  
    background-color: #fff; 
    color: #333;
  }