html{
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("./img/logo2.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar {
    position: fixed;
    top: 0px;
    max-width: 100%;
    z-index:99
}

.card {
  font-family: sans-serif;
  background: rgb(99, 188, 80);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;
  transition: 0.5s ease;
  margin: 30px;
  display:flex; 
  justify-content:center; 
  align-items:center;
  display: inline-block;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card:hover {
  transform: scale(1.25);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.card2{
  font-family: sans-serif;
  background: rgb(99, 188, 80);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;
  transition: 0.5s ease;
  margin: 30px;
  display:flex; 
  justify-content:center; 
  align-items:center;
  display: inline-block;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card2:hover {
  transform: scale(1.25);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.cardGift{
  font-family: sans-serif;
  background: rgb(99, 188, 80);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;
  transition: 0.5s ease;
  margin:70px;
}

.cardGift:hover{
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

h1::before { 
    display: block; 
    content: " "; 
    margin-top: -70px; 
    height: 70px; 
    visibility: hidden; 
    pointer-events: none;
  }

  /*<!--<style>
    .bottom-left {
      position: absolute;
      bottom: 8px;
      left: 16px;
    }
    
    .top-left {
      position: absolute;
      top: 8px;
      left: 16px;
    }
    
    .top-right {
      position: absolute;
      top: 180px;
      right: 100px;
      color: rgb(200, 221, 165);
      font-size: 70px;
      text-shadow: 1px 1px 2px rgba(200, 221, 165, 0.5);
      transform: rotate(-10deg);
    }
    
    .bottom-right {
      position: absolute;
      bottom: 8px;
      right: 16px;
    }
    
    .centered {
      position: absolute;
      top: 25%;
      left: 75%;
      transform: translate(-50%, -50%);
      color: rgb(200, 221, 165);
      font-size: xx-large;
    }
    </style>
--> */
